body {
	margin: 0;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", sans-serif;
}
:root {
	flex-wrap: column-wrap;
}


*, ::after, ::before {
    box-sizing: inherit;
}

@media screen and (max-width: 767px) {
	.main {
		padding: 60px 16px 72px;
	}

	.main-header {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.main-header-container {
		background: #fff;
		box-shadow: 0 4px 10px -6px rgba(44,44,45,.27);
		padding: 0 16px;
		position: relative;
	}

	.main-header-container-wrapper {
		align-items: center;
		display: flex;
		height: 60px;
	}

	.main-header-container-wrapper-back-button {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		margin-right: auto;
		min-width: -webkit-min-content;
	}

	.main-header-container-wrapper-back-button button {
		line-height: 0;
		position: relative;
		z-index: 0;
		background-color: transparent;
    	padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.main-header-container-wrapper-text {
		display: flex;
    	flex: 1;
		justify-content: center;
	}

	.main-header-container-wrapper-text p {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-header-container-field {
		justify-content: flex-end;
		margin-left: 8px;
		min-width: -webkit-min-content;
		display: flex;
    	flex: 1;
	}

	.main-product-info {
		display: grid;
    	grid-template-areas:
        "listingImg listingTitle"
        "listingImg listingPrice";
		grid-template-columns: 64px 1.5fr;
		grid-template-rows: 1fr 1fr 0px;
		margin: 24px 0;
	}

	.main-product-info span {
		border-radius: 8px;
		grid-area: listingImg;
		height: 48px;
		width: 48px;
		display: block;
		overflow: hidden;
		position: relative;
	}

	.main-product-info span img {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.main-product-info::after {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.main-product-info p {
		/* grid-area: listingTitle; */
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}
	.main-product-info h2 {
		/* grid-area: listingTitle; */
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-support-link {
		align-items: center;
		background: #f8f8f9;
		border-radius: 8px;
		display: flex;
		margin-bottom: 24px;
		padding: 8px;
		color: inherit;
   		text-decoration: none;
	}

	.main-support-link img {
		display: block;
		overflow: hidden;
		position: relative;
		flex-shrink: 0;
		height: 24px;
		width: 24px;
	}
	
	.main-support-link-text-header p {
		font-size: 12px;
		line-height: 20px;
		font-weight: 600;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-support-link-text-header h2 {
		font-size: 12px;
		line-height: 20px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-delivery-button {
		display: flex;
		width: 100%;
		background-color: transparent;
		padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		border-bottom: 2px solid #c6c5c5a6;
		/* border-bottom: 2px solid #c5c5c6; */
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.main-delivery-button-body {
		flex-direction: column;
		flex-grow: 1;
		display: flex;
	}

	.main-delivery-button-body p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
		margin: 0;
	}

	.main-delivery-button-body h2 {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #c5c5c6;
		margin: 0;
	}


	.main-payment-button {
		display: flex;
		width: 100%;
		background-color: transparent;
		padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		border-bottom: 2px solid #c6c5c5a6;
		/* border-bottom: 2px solid #c5c5c6; */
		justify-content: center;
		text-transform: none;
		margin-top: 16px;
	}

	.main-payment-button-body {
		flex-direction: column;
		flex-grow: 1;
		display: flex;
	}

	.main-payment-button-body p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
		margin: 0;
	}

	.main-payment-button-body h2 {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #c5c5c6;
		margin: 0;
	}

	.main-promo-code {
		margin-top: 20px;
    	padding-left: 8px;
	}

	.promo-code-button-apply {
		white-space: nowrap;
		background-color: #fff;
		border: 1px solid #c5c5c6;
		color: #2c2c2d;
		padding: 7px 16px;
		font-size: 14px;
		line-height: 18px;
		border-radius: 4px;
		outline: none;
		font-weight: 600;
		align-items: center;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.promo-code-button-apply:active, .promo-code-button-apply:focus {
		background-color: #f0f1f1;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	main-footer-container {
		font-size: 22px;
		line-height: 30px;
		font-weight: 600;
		text-align: left;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}


	.footer-container{
		font-size: 14px;
		hyphens: none;
		margin: 24px 0;
		text-align: center;
		line-height: 24px;
		font-weight: 400;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.span-carousell {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #008f79;
		text-decoration: underline;
	}

	.main-footer-container-payment-info {
		margin-top: 20px;
	}

	.main-footer-container-payment-info-header {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 8px 0;
	}

	.main-footer-container-payment-info-header-item {
		display: flex;
		align-items: center;
	}

	.main-footer-container-payment-info-header-item p {
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-footer-container-payment-info-header h2 {
		overflow: visible;
		text-align: right;
		white-space: nowrap;
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-footer-container-payment-info-footer {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 8px 0;
	}

	.main-footer-container-payment-info-footer h3 {
		overflow: visible;
		text-align: right;
		white-space: nowrap;
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-footer-button-order {
		width: 100%;
		background-color: #fff;
		bottom: 0;
		box-shadow: 0 -4px 10px -6px rgba(44,44,45,.27);
		display: flex;
		left: 0;
		padding: 12px 16px;
		position: fixed;
	}

	.main-footer-button-order button{
		/* background-color: #c5c5c6; */
    	color: #fff;
		width: 100%;
		background-color: #008f79;
		color: #fff;
		font-size: 16px;
		border-radius: 4px;
		outline: none;
		padding: 8px 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.order-delivery-container {
		position: fixed;
    	z-index: 10;
		background: #fff;
		height: 100vh;
		width: 100vw
	}

	.order-delivery-container-wrapper {
		background: #fff;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		overflow-y: auto;
	}

	.order-delivery-container-wrapper-header {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
		background: #fff;
		box-shadow: 0 4px 10px -6px rgba(44,44,45,.27);
		padding: 0 16px;
	}

	.order-delivery-container-wrapper-header-leftside {
		display: flex;
    	flex: 1;
		justify-content: flex-start;
		margin-right: auto;
		min-width: -webkit-min-content;
	}

	.order-delivery-container-wrapper-header-center {
		display: flex;
		flex: 1;
		justify-content: center;
	}

	.order-delivery-container-wrapper-header-center p {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.order-delivery-container-wrapper-header-right {
		justify-content: flex-end;
		margin-left: 8px;
		min-width: -webkit-min-content;
		display: flex;
		flex: 1;
	}

	.order-delivery-container-wrapper-header-right button{
		color: #008f79;
		background-color: transparent;
		padding: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}


	.order-delivery-container-wrapper-header-leftside button {
		line-height: 0;
		position: relative;
		z-index: 0;
		background-color: transparent;
    	padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.order-delivery-container-wrapper-main-header-group {
		align-items: center;
		flex: 1;
		flex-flow: row nowrap;
		display: flex	
	}

	/* .order-delivery-container-wrapper-main-header-group-label {
		display: inline-block;
		min-height: 30px;
		padding-left: 28px;
		padding-right: 8px;
		position: relative;
	}

	.order-delivery-container-wrapper-main-header-group-label:before,
	.order-delivery-container-wrapper-main-header-group-label:after {
		border-radius: 50%;
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.order-delivery-container-wrapper-main-header-group-label:before {
		border: 2px solid #57585a;
		width: 20px;
		height: 20px;
		left: 0;
		transition: border-color 0.5s ease;
	}

	.order-delivery-container-wrapper-main-header-group-label.active:after {
		background: #008f79;
		width: 12px;
		height: 12px;
		left: 4px;
		transition: background 0.5s ease;
	}

	.order-delivery-container-wrapper-main-header-group-label:focus-within:before,
	.order-delivery-container-wrapper-main-header-group-label.active:before {
		border-color: #008f79;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	.order-delivery-container-wrapper-main-header-group-label.active:after {
		background: #008f79;
		border-color: #008f79;
	} */


	.main-field-center-body-info-delivery-wrapper-main-box-field-radio {
		align-items: center;
		flex: 1;
		flex-flow: row nowrap;
		display: flex;
	}


	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio {
		cursor: pointer;
		display: inline-block;
		min-height: 30px;
		padding-left: 28px;
		padding-right: 8px;
		position: relative;
	}
	
	

	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2 {
		align-items: center;
		flex: 1;
		flex-flow: row nowrap;
		display: flex;
	}


	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2 {
		cursor: pointer;
		display: inline-block;
		min-height: 30px;
		padding-left: 28px;
		padding-right: 8px;
		position: relative;
	}
	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2:before,
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2:after {
		border-radius: 50%;
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2:before {
		border: 2px solid #57585a;
		width: 20px;
		height: 20px;
		left: 0;
		transition: border-color 0.5s ease;
	}
	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2.active:after {
		background: #008f79;
		width: 12px;
		height: 12px;
		left: 4px;
		transition: background 0.5s ease;
	}
	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2:focus-within:before,
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2.active:before {
		border-color: #008f79;
		box-shadow: 0 0 0 4px #cce9e4;
	}
	
	.main-field-center-body-info-delivery-wrapper-main-box-field-radio2.active:after {
		background: #008f79;
		border-color: #008f79;
	}
	

	.delivery-mail-address p {
		margin-left: 8px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.delivery-mail-address-footer p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
		margin: 0;
	}


	.main-adding-address-button {
		display: flex;
		width: 100%;
		background-color: transparent;
		padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		border-bottom: 2px solid #c6c5c5a6;
		/* border-bottom: 2px solid #c5c5c6; */
		justify-content: center;
		text-transform: none;
		margin-top: 16px;
	}

	.main-adding-address-body {
		flex-direction: column;
		flex-grow: 1;
		display: flex;
	}

	.main-adding-address-body p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
		margin: 0;
	}

	.main-adding-address-body h2 {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		text-align: left;
		white-space: nowrap;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #c5c5c6;
		margin: 0;
	}

	.add-address {
		background: #fff;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		overflow-y: auto;
	}

	.add-address-header {
		background: #fff;
		box-shadow: 0 4px 10px -6px rgba(44,44,45,.27);
		padding: 0 16px;
    	position: relative;
	}
	
	.add-address-header-main {
		align-items: center;
		display: flex;
		height: 60px;
	}

	.add-address-button {
		white-space: nowrap;
		background-color: #fff;
		border: 1px solid #c5c5c6;
		color: #2c2c2d;
		padding: 7px 16px;
		font-size: 16px;
		border-radius: 4px;
		outline: none;
		font-weight: 600;
		align-items: center;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.add-address-button:active, .add-address-button:focus {
		background-color: #f0f1f1;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	.add-address-wrapper-header {
		background: #fff;
		box-shadow: 0 4px 10px -6px rgba(44,44,45,.27);
		padding: 0 16px;
    	position: relative;
	}

	.add-new-address-menu {
		background: #fff;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		overflow-y: auto;
	}

	.add-new-address-menu-body h2 {
		margin-bottom: 16px;
		font-size: 22px;
		line-height: 30px;
		font-weight: 600;
		text-align: left;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.add-new-address-menu-body-phone-number-container {
		display: flex;
	}

	#standard-basic-label {
		overflow: visible;
	}

	.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.css-1iyry4l-MuiFormLabel-root-MuiInputLabel-root {
		color: #c5c5c6;
		border-color: red;

	}

	/* .standard-basic-label {
		border-color: red;
	} */

	.MuiInput-root:after {
		border-bottom: 1px solid #008f79 !important; 
	  }
	  



	.MuiFormLabel-root.Mui-focused {
		color: #2c2c2d !important;
	}

	.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
		border-color: '1px solid #008f79' !important;
	}


	.add-new-address-p {
		margin: 8px 0 40px;
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
	}

	.add-new-address-h2 {
		font-size: 22px;
		line-height: 30px;
		font-weight: 600;
		text-align: left;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		/* margin: 0; */
	}

	.add-new-address-select {
		/* margin-bottom: 4px; */
		padding-top: 12px;
		width: 100%;
		background-position: 100%;
		border: 0;
		border-bottom: 1px solid #c5c5c6;
		border-radius: 0;
		color: #57585a;
		padding: 4px 24px 4px 0;
		appearance: none;
    	background-color: #fff;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" d="M10.146 7.146a.5.5 0 0 1 .708.708l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5a.5.5 0 1 1 .708-.708L8 9.293l2.146-2.147z"/></svg>');
		background-repeat: no-repeat;
		background-size: 24px;
		font-size: 16px;
		line-height: 1.5;
		outline: none;
		text-transform: none;
	}

	.add-new-address-select:focus {
		border: 1px solid #008f79;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	.add-new-address-p-info {
		font-size: 12px;
		line-height: 20px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.add-new-address-info-text-postcode {
		font-size: 14px !important;
		line-height: 22px !important;
		font-weight: 400 !important;
		text-align: center !important;
		white-space: nowrap !important;
		overflow-wrap: normal !important;
		word-break: normal !important;
		text-decoration: none !important;
		hyphens: auto !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		color: #991720 !important;
		margin-top: 3px !important;
		display: flex !important;
	}

	.add-new-address-info-text-phoneNumber {
		margin: 8px 0 40px !important;
		font-size: 14px !important;
		line-height: 22px !important;
		font-weight: 400 !important;
		text-align: center !important;
		white-space: nowrap !important;
		overflow-wrap: normal !important;
		word-break: normal !important;
		text-decoration: none !important;
		hyphens: auto !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		color: #991720 !important;
		display: flex !important;
	}

	.add-address-field {
		margin: 24px 16px 16px;
	}

	.add-address-field-header {
		box-shadow: inset 0 -1px 0 0 rgba(44,44,45,.07);
		margin-bottom: 32px;
		padding-bottom: 8px;
	}


	/* .main-field-center-body-info-delivery-wrapper-main-box-field-radio{

	} */

	.three-dots-address {
		padding: 0;
		z-index: 1;
		background-color: transparent;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
		margin-left: auto;
	}

	.button-main-address {
		padding-left: 28px;
		display: block;
		margin-top: 4px;
		padding-bottom: 0;
		padding-right: 24px;
		padding-top: 0;
		text-align: left;
		background-color: transparent;
		font-size: 16px;
		border: none;
		text-transform: none;
		margin: 0;
	}

	.button-main-address h1 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	#first-of-type-address {
		padding-left: 0px !important;
	}  
	.first-of-type-address {
		padding-left: 8px !important;
	}

	.button-main-address span {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	
	.main-adding-address-body-delivery-name {
		font-size: 16px !important;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.main-adding-address-body-delivery-info-span {
		display: block;
		margin-top: 4px;
		padding-bottom: 0;
		padding-right: 24px;
		padding-top: 0;
		text-align: left;
	}

	.main-adding-address-body-delivery-info-span p {
		font-size: 16px !important;
	}

	.main-adding-address-body-delivery-info-span span{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		/* margin: 0; */
	}

	#first-of-type-address-main {
		padding-left: 0px !important;
	}  
	.first-of-type-address-main {
		padding-left: 8px !important;
	}	

	.menu-select-address-options {
		-webkit-animation: menu-select-address-options .3s cubic-bezier(.4,0,.2,1);
		animation: menu-select-address-options .3s cubic-bezier(.4,0,.2,1);
		background: #fff;
		border-radius: 4px 4px 0 0;
		bottom: 0;
		left: 0;
		max-height: 80vh;
		overflow-y: auto;
		position: fixed;
		right: 0;
		z-index: 11;
		transition: transform 0.3s ease;
	}
	

	
	
	.menu-select-address-options-container {
		background-color: #fff;
		border: 1px solid rgba(44,44,45,.07);
		border-radius: 8px 8px 0 0;
		padding: 16px;
	}

	.menu-select-address-options-container-edit-btn {
		padding: 8px;
		color: #2c2c2d;
		background-color: transparent;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.menu-select-address-options-container-edit-btn img {
		height: 16px;
		margin-right: 8px;
		width: 16px;
		display: block;
		overflow: hidden;
		position: relative;
	}

	.menu-select-address-options-container-edit-btn span {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
	}

	.menu-select-address-options-container-delete-btn {
		padding: 8px;
		color: #2c2c2d;
		background-color: transparent;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.menu-select-address-options-container-delete-btn svg {
		height: 16px;
		margin-right: 8px;
		width: 16px;
	}

	.menu-select-address-options-container-delete-btn span {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
		word-break: normal;
		text-decoration: none;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
	}


	.menu-select-address-options-cancel-button {
		padding: 12px;
		text-align: center;
		width: 100%;
		color: #008f79;
		background-color: transparent;
		font-size: 16px;
		font-weight: 600;
    	line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.menu-select-address-options-cancel-button:active, .menu-select-address-options-cancel-button:focus {
		color: #026958;
	}

	.menu-select-address-options-delete {
		align-items: center;
		background: rgba(44,44,45,.8);
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.menu-select-address-options-delete-container {
		width: calc(100% - 96px);
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 8px 13px 0 rgba(44,44,45,.27);
		max-height: 90vh;
		padding: 24px;
		position: relative;
	}

	.menu-select-address-options-delete-container h2 {
		width: calc(100% - 16px);
		font-size: 14px;
		line-height: 26px;
		font-weight: 400;
		text-align: left;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.close-confirm-delete-address-button {
		position: absolute;
		right: 12px;
		top: 12px;
		background-color: transparent;
		padding: 8px;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin: 0;
	}

	.menu-select-address-options-delete-container h3 {
		margin: 0px 0px 12px 0px;
		width: calc(100% - 16px);
		font-size: 18px;
		line-height: 26px;
		font-weight: 600;
		text-align: left;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.confirm-delete-address-button {
		width: 100%;
		background-color: #008f79;
		color: #fff;
		font-size: 16px;
		border-radius: 4px;
		outline: none;
		padding: 8px 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin-top: 16px;
	}

	.confirm-delete-address-button:active, .confirm-delete-address-button:focus {
		background-color: #026958;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	.keep-address-button {
		width: 100%;
		background-color: #fff;
		border: 1px solid #c5c5c6 !important;
		color: #2c2c2d;
		padding: 7px 16px !important;
		font-size: 16px;
		border-radius: 4px;
		outline: none;
		padding: 16px;
		font-weight: 600;
		line-height: 1.5;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		margin-top: 16px;
	}

	.keep-address-button:active, .keep-address-button:focus {
		background-color: #f0f1f1;
		box-shadow: 0 0 0 4px #cce9e4;
	}

	.add-payment-methods {
		background: #fff;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		overflow-y: auto;
	}

	.add-payment-methods-main-grabPay {
		display: flex;
		flex-direction: column;
	}

	.add-payment-methods-main-grabPay-label {
		display: block;
		min-height: auto;
		cursor: pointer;
    /* display: inline-block;
    min-height: 28px; */
		padding-right: 8px;
		position: relative;
	}

	.add-payment-methods-main-grabPay-label-text {
		align-items: center;
		display: flex;
		margin-left: 8px;
		max-width: 100%;
	}

	.add-payment-methods-main-grabPay-label-text img {
		flex-shrink: 0;
		height: 24px;
		margin-right: 8px;
		width: auto;
		display: block;
		overflow: hidden;
		position: relative;
	}

	.add-payment-methods-main-grabPay-label-text span {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.add-payment-methods-main-grabPay-footer-text {
		grid-gap: 8px;
		display: grid;
		margin-left: 28px;
		margin-top: 8px;
	
	}

	.add-payment-methods-main-grabPay-footer-text span {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #57585a;
	}

	.add-payment-methods-main-another p{
		margin-bottom: 24px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
	}

	.add-payment-methods-main-another-online-banking button {
		padding-bottom: 24px;
		margin: 24px 0 16px;
		width: 100%;
		background-color: transparent;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		border-bottom: 1px solid #f0f1f1;
	}

	.add-payment-methods-main-another-online-banking p {
		flex-grow: 1;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.add-payment-methods-main-credit-card button {
		padding-bottom: 24px;
		margin: 24px 0 16px;
		width: 100%;
		background-color: transparent;
		font-size: 16px;
		align-items: center;
		border: none;
		display: flex;
		justify-content: center;
		text-transform: none;
		border-bottom: 1px solid #f0f1f1;
	}

	.add-payment-methods-main-credit-card p {
		flex-grow: 1;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #2c2c2d;
		margin: 0;
	}

	.add-payment-methods-footer-text {
		font-size: 12px;
		line-height: 20px;
		font-weight: 400;
		text-align: left;
		white-space: normal;
		overflow-wrap: normal;
    	word-break: normal;
		hyphens: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #6d6e71;
		margin: 0;
	}
	
	.add-credit-card-menu {
		position: fixed;
		z-index: 10;
		background: #fff;
		height: 100vh;
		width: 100vw;
	}

	.add-credit-card-menu-main {
		background: #fff;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		overflow-y: auto;
	}
	.add-credit-card-menu-main-container-card-number {
		margin-bottom: 40px;
	}

	.add-credit-card-menu-main-container-card-number-input {
		display: flex;
		align-items: center;
	}
	
	.mobile-credit-card-input {
		border: none;
		border-bottom: 1px solid #c5c5c6;
		font-size: 16px;
		/* color: #cfd7df; */
		color: #2c2c2d;
		font-weight: 400;
		text-indent: 30px; /* Передвигает текст на 10 пикселей влево */
		position: absolute;
		width: calc(100% - 30px);
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}

	.mobile-credit-card-input:focus {
		outline: none;
	  }



	  .mobile-credit-card-input::placeholder {
		  color: #888888f3;
		font-weight: 400;
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}
	
	.mobile-credit-card-number-header-text {
		display: flex;
		position: absolute;
		
	}
	.mobile-credit-card-number-header-text h2 {
		font-size: 12px;
		/* color: #cfd7df; */
		font-weight: 400;
		color: #2c2c2dc7;
		margin-bottom: 47px;
		z-index: 10;
	}
	
	.add-credit-card-menu-main-container-card-number-input-footer-text {
		display: flex;
		position: absolute;
		z-index: 10;
		margin-top: 57px;
		font-size: 14px;
		font-weight: 400;
	}
	
	.add-credit-card-menu-main-container-card-info-input {
		display: flex;
		align-items: center;
	}

	/* INFO DATE */
	.mobile-credit-card-info-date-header-text h2 {
		font-size: 12px;
		/* color: #cfd7df; */
		font-weight: 400;
		color: #2c2c2dc7;
		/* margin-bottom: 47px; */
		z-index: 10;
		margin: 0;
		margin-left: 2px;
	}

	.mobile-credit-card-info-date-input {
		border: none;
		border-bottom: 1px solid #c5c5c6;
		font-size: 16px;
		/* color: #cfd7df; */
		color: #2c2c2d;
		font-weight: 400;
		position: absolute;
		width: calc(50% - 25px);
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}

	.mobile-credit-card-info-date-input:focus {
		outline: none;
	}

	.mobile-credit-card-info-date-input::placeholder {
		  color: #888888f3;
		  font-weight: 400;
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}
	
	.add-credit-card-menu-main-container-card-info-input-footer-text {
		margin-top: 25px;
		font-size: 14px;
		font-weight: 400;
		overflow-wrap: break-word;
		width: calc(100% - 8px);
	}
	
	.add-credit-card-menu-main-container-card-info-input-grid {
		display: grid;
		width: 100%;
		grid-template-columns: 50% 50%;
	}

	/* INFO CVV */

	.mobile-credit-card-info-cvv-header-text h2 {
		font-size: 12px;
		/* color: #cfd7df; */
		font-weight: 400;
		color: #2c2c2dc7;
		/* margin-bottom: 47px; */
		z-index: 10;
		margin: 0;
		margin-left: 2px;
	}
	
	.mobile-credit-card-info-cvv-input {
		border: none;
		border-bottom: 1px solid #c5c5c6;
		font-size: 16px;
		/* color: #cfd7df; */
		color: #2c2c2d;
		font-weight: 400;
		position: absolute;
		width: calc(50% - 12px);
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}
	
	.mobile-credit-card-info-cvv-input:focus {
		outline: none;
	  }
	
	  .mobile-credit-card-info-cvv-input::placeholder {
		  color: #888888f3;
		font-weight: 400;
		line-height: 23px;
		-webkit-text-stroke-width: thin;
	}
	
	.add-credit-card-menu-main-container-card-cvv-input-footer-text {
		margin-top: 25px;
		font-size: 14px;
		font-weight: 400;
		overflow-wrap: break-word;
	}

	
	
	
	
	
	
	
	
	
}